<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="../vue.js"></script>
</head>
<body>

    <div id="app">

        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>

        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
                <br>
            </li>
        </ul>

        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
        <hr>

        <span v-for="n in 10">{{ n }}</span>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Max', age: 27, color: 'red'},
                    {name: 'Anna', age: 'unknown', color: 'blue'},
                ]
            },
        });
    </script>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16pt;
            padding: 10px;
        }
    </style>

</body>
</html>